@charset "UTF-8";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

.sidebar {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.sidebar .logo-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar .route-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.route-panel {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 1000;
}
.route-panel.open {
  transform: translateX(0);
  left: 100px;
}
.route-panel .route-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.route-panel .route-form input, .route-panel .route-form button {
  padding: 10px;
  box-sizing: border-box;
}
.route-panel .route-form button {
  color: rgb(4, 43, 5);
  border: 2px solid rgb(4, 43, 5);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: background-color 0.3s;
}
.route-panel .route-form button:hover {
  background-color: #444;
  color: #ffffff;
}

#location-button {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.info-panel {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 1000;
}
.info-panel.open {
  transform: translateX(0);
  left: 100px;
}
.info-panel #close-info {
  color: rgb(4, 43, 5);
  width: 250px;
  border: 2px solid rgb(4, 43, 5);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}
.info-panel #close-info:hover {
  background-color: #444;
  color: #ffffff;
}

.attraction-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Стили для основного контейнера */
#extra-points-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Стили для добавленного input */
.extra-point-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Пунктирное поле */
.dashed-placeholder {
  border: 2px dashed #444;
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  border-radius: 4px;
}

.add-point-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #444;
}

/* Стили кнопки добавления точки маршрута */
#add-point-button {
  width: 40px;
  height: 40px;
  border: 2px dashed #000;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  font-size: 1.5em;
  text-align: center;
  line-height: 5px;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  transition: all 0.3s ease;
}
#add-point-button:hover {
  background-color: #444;
  color: #ffffff;
}/*# sourceMappingURL=map.css.map */